<%- include('partials/header.ejs') %>

<body>
    <div class="error-div">
        <div class = "error-sub-div">
            <h3>404 — Page not found</h3>
            <img src="<%= httpCatStatusCode %>" alt="HTTP 404 Cat" class="error-img">
            <p>Alas, the requested page has scampered off like a startled kitten…</p>
        </div>
</div>
</body>
<%- include('partials/footer.ejs') %>
